# IDE and build working files
.project
.idea
.vscode
.pydevproject
*.pyc
*/__pycache__/*
*/__pytest_cache__/*
src/.coverage
build/*

# Python working files
venv

# Report tool files
Allure_Reports

# Log lifes
*.log

# Test cases in experimental state
testCases/test_CrossBrowserTesting.py
testCases/color_testing.py
testCases/FileUpload_Datadriven.py
testCases/SmokeTesting_Dailybase_TestEnv_ConsoleOutput.py
testCases/SmokeTesting_Reportbase.py
testCases/test_Dashboardpage.py
testCases/test_dataDrivenTesting.py
testCases/test_dataDrivenTesting_TestEnv.py
testCases/test_FileStatuspage.py
testCases/test_FileUpload_FromProject.Copy.py
testCases/test_FileUpload_FromProject.py
testCases/test_FileUpload_LocalMachine.py
testCases/test_Landingpage.py
testCases/test_SmokeTest.py
testCases/windowHandles.py